# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Media and static files
/media/
staticfiles/

# Ignore everything in static except JS files
static/*
!static/**/*.js
!static/*.js

# If you want to keep subfolders for JS (optional)
# !static/js/
# !static/js/**/*.js

# Virtual environments
env/
venv/
ENV/
.venv/
.env/

# VS Code settings
.vscode/

# macOS files
.DS_Store

# Python environment variables
.env

# Migrations (optional, if you want to exclude them)
# */migrations/*.py
# !*/migrations/__init__.py

# Test and coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
coverage.xml

# MyPy
.mypy_cache/

# Jupyter Notebooks
**/*.ipynb
