{% extends "base.html" %}

{% block content %}
<h3>Редактировать оборудование:</h3>
<div class="mb-3" style="font-size:2rem; font-weight:600;">{{ equipment_name.name }}</div>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {{ formset.management_form }}
    {% for pos_form in formset %}
        <div class="border p-2 mb-2">
            {{ pos_form.as_p }}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'equipment:equipment_detail' equipment_name.id %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}