{% url 'equipment:equipment_list' as equipment_list_url %}
{% url 'repairs:repairs_list' as repairs_list_url %}
{% url 'accounts:login' as accounts_login_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage:index' %}">Портал ГК "Лесресурс"</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == equipment_list_url %}active{% endif %}" href="{{ equipment_list_url }}">Реестр оборудования</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == repairs_list_url %}active{% endif %}" href="{{ repairs_list_url }}">Журнал ремонтов</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown user-dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button">
                        {{ user.email|default:user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ accounts_login_url }}?next={{ request.path }}">Сменить пользователя</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == accounts_login_url %}active{% endif %}" href="{{ accounts_login_url }}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<style>
/* Dropdown on hover */
.user-dropdown:hover .dropdown-menu {
    display: block;
}
.user-dropdown .dropdown-menu {
    margin-top: 0;
}
/* Highlight active nav-link */
.nav-link.active {
    font-weight: bold;
    color: #ffc107 !important;
}
</style>